body{
    font-family: 'Poppins', sans-serif;

}

.container{
    margin-bottom: 100px;
}

.navbar font{
    font-weight: 600;
    color: dimgray;
}


.carousel-indicators .active{
    ackground-image: linear-gradient(to right, orange, rgba(254, 254, 0, 0.825));
    border: 4px solid;
    border-color: orange;
    border-radius: 5px;
}

.carousel-indicators li{
    background-color: gray;
    border: 4px solid lavender;
    border-radius: 5px;
}


.carousel-item{
    margin-top: 150px;
    margin-bottom: 50px;
}

.arousel-control-prev-icon{
    background-color: cyan;
    
}

.arousel-control-next-icon{
    background-color: cyan;
}



.banner-bg{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    text-align: center;
}

p{
    color: dimgrey;
}

.btn{
    border-radius: 6px;
}







